<!DOCTYPE html>
<html ng-app="app">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="suhoy">
    <link rel="shortcut icon" href="">

    <title>Фрактальная графика</title>

    <!-- Bootstrap core CSS -->
    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">
    <style type="text/css">
        .cursor {cursor: all-scroll;}
    </style>
  </head>

  <body>

    <div class="container" ng-controller="mainController">
        <h1 class="page-header" style="margin: 2px 0 10px 0">Алгебраические фракталы</h1>
        
        <div class="row">
            <div class="col-md-8 thumbnail">
                <canvas width="800" height="600" id="fractal" style="width:100%;" 
                        drawing="fractal"
                        ng-class="{
                            cursor: cursor
                        }"></canvas>
            </div>

            <div class="col-md-4">
                <div class="thumbnail">
                    <label>Фрактал:</label>
                    <select class="form-control" ng-model="fractal" ng-change="draw()">
                        <option ng-repeat="(type, name) in fractals" ng-bind="name" ng-value="type"></option>
                    </select> 

                    <label>Раскраска:</label>
                    <select class="form-control" ng-model="coloringType" ng-change="draw()">
                        <option ng-repeat="(type, name) in coloring" ng-bind="name" ng-value="type"></option>
                        <option ng-hide="fractal != undefined && fractal != 'newtonPool'" 
                                ng-bind="'Гибридная'" ng-value="'hybrid'"></option>
                    </select> 

                    <div ng-show="fractal == 'juliaSet'">
                        <label>Константа Жюлиа</label>
                        <div class="input-group">
                            <span class="input-group-addon">x</span>
                            <input class="form-control" ng-model="juliaConstant.x" requried type="number" ng-change="draw()">
                        </div>
                        <br>
                        <div class="input-group">
                            <span class="input-group-addon">y</span>
                            <input class="form-control" ng-model="juliaConstant.y" requried type="number" ng-change="draw()">
                        </div>
                    </div>
                </div>

                <div class="thumbnail">
                    <label>Масштаб</label>
                    <div style="text-align: center;">
                        <div class="row">
                            <p class="col-md-12">top: <span ng-bind="top | number : 6"></span></p>
                        </div>
                        <div class="row">
                            <p class="col-md-6">left: <span ng-bind="left | number : 6"></span></p> 
                            <p class="col-md-6">right: <span ng-bind="right | number : 6"></span></p>
                        </div>
                        <div class="row">
                            <p class="col-md-12">bottom: <span ng-bind="bottom | number : 6"></span></p>
                        </div>
                        <div class="row">
                            <p class="col-md-6">x:  <span ng-bind="mouse.x | number : 6"></span></p>
                            <p class="col-md-6">y:  <span ng-bind="mouse.y | number : 6"></span></p>
                        </div> 
                        <button class="btn btn-default" ng-click="setUp()">Сбросить масштаб</button>
                    </div>
                </div>

                <div class="thumbnail">
                    <label>Указатель</label>
                    <div style="text-align: center;">
                        <div class="row">
                            <p class="col-md-6">x:  <span ng-bind="mouse.x | number : 6"></span></p>
                            <p class="col-md-6">y:  <span ng-bind="mouse.y | number : 6"></span></p>
                        </div> 
                        <button class="btn btn-default" ng-click="setUp()">Сбросить масштаб</button>
                    </div>
                </div>
            </div>
        </div>

    </div> <!-- /container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="bower_components/jquery/dist/jquery.js"></script> 
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="js/app.js"></script> 
  </body>
</html>